header {
  display: flex;
  margin-bottom: 100px;
}

.header__picture-container {
  position: relative;
  cursor: pointer;
}

.header__picture-container svg {
  width: 160px;
  height: 160px;
}

.header__profile-content {
  margin: 10px 0 0 50px;
}

.header__profile-content h1 {
  color: #1f2933;
  font-size: 45px;
  letter-spacing: 2px;
  margin: 0;
}

.header__profile-content h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 30px;
}

@media only screen and (max-width: 768px) {
  header {
    display: block;
  }

  .header__picture-container {
    display: block;
    width: 100%;
  }

  .header__profile-content {
    display: block;
    margin: 25px 0 0;
    width: 100%;
  }
}
