.socials__list {
  margin: 15px 0 0;
  padding: 0;
}

.socials__item {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

.socials__link {
  color: #787a82;
  text-decoration: none;
}

.socials__link:hover {
  color: #3997dc;
}
